{% load static %}
<section class="intro">
    <div class="intro__inner">
       <div class="intro__about">
          <h2 class="intro__about-title">
             Join thousands of fans enjoying FREE products.
          </h2>
          <h4 class="intro__about-subtitle">
             It's free, fun and easy. Start Now!
          </h4>
       </div>
       <div class="intro__actions">
          <p>
            To start your free purchase click the "Start Now" button below <span class="emoji">👇</span> and in the Messenger window that will open click "Get Started"
          </p>
          <a class="btn btn--act" href="{{trip}}" target="_blank">
          <span>Start Now!</span>
          </a>
       </div>
    </div>
 </section>